@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Teko:wght@300&display=swap');

* {
    box-sizing: border-box;
}

/* body style */

body {
   margin: 0 auto;
   max-width: 1000px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
   padding-top: 50px;
}

/* index.html - logo, header, paragraph, and buttons */

#logo  {
    padding-bottom: 50px;
    max-width: 80%;
}

#hdr {
    margin-bottom: 50px;
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    text-align: center;
}

#prg {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.8rem;
}

#btn1, #btn2 {
    display: flex;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
    width: 150px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    background-color: #B22222;
    cursor: pointer;
    color: #fff;
}
 
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* quiz-game - questions, answers and button */

#quiz-container {
    background-color: rgba(255, 223, 0, 0.8);
    border-radius: 10px;
    padding: 10px;
    width: 60%;
}

#questions {
    font-family: 'Teko', sans-serif;
    font-size: 3.5rem;
    text-align: center;
}

#answers {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.8rem;
    list-style: none;
}

#answers li {
    width: 80%;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
    color: #fff;
    background-color: #1530A6;
    padding: 10px;
}

#btn-submit {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
    width: 150px;
    margin: 20px;
    border-radius: 10px;
    background-color: #B22222;
    cursor: pointer;
    color: #fff;
}

#timer {
    margin-bottom: 50px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 3rem;

}

/* Game rules */

#rules-title {
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
}

#game-rules {
   background-color: rgba(255, 223, 0, 0.8);
   width: 60%;
   padding: 20px;
   border-radius: 10px;
   list-style: none;
}

#game-rules li {
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1rem;
    color: black;
    
}